html{
  background-color: black;
  margin:0;
  padding:0;
}
body{
  height: 100%;
  width: 100%;
  z-index: auto;
}
::placeholder{
  color:white;
}

#jsp{
  position: fixed;
  background-color: black;
  top: 0;
  height: 13%;
  width: 100%;
  z-index: 100;
}
.top{
  display: block;
  position: fixed;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  width: 90%;
  border-radius: 180px;
  height: 7.5%;
  background-color: #5f27cd;
}
.searchText{
  color: white;
  margin-top: 1%;
  margin-left: 5%;
  width: 80%;
  height:80%;
  border:none;
  border-bottom: 5px solid white;
  background-color: inherit;
  font-size: 72px;
  vertical-align: middle;
}
.btn{
    position: absolute;
    top:25%;
    margin-left: 86%;
    background-color: inherit;
}
#btn2{
    background-color: inherit;
    border:none;
}
.fa-search{
  color:white;
  font-size: 72px;
}

.bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 9.5%;
  background-color: #5f27cd;

}
#fav{
    position: absolute;
    left: 20%;
    background-color: inherit;
    border:none;
    height:100%;
}
#path{
    position: absolute;
    right:20%;
    background-color: inherit;
    border:none;
    height:100%;
}
#clock{
    position: absolute;
    left:44%;
    background-color: inherit;
    border:none;
    height:100%;
}

.fa-star{
    color:white;
    font-size:95px;
}
.fa-clock{
    color:white;
    font-size:95px;
}
.fa-code-commit{
    color:white;
    font-size:95px;
}
#clockPage{
    display:none;
    margin-top: 15%;
    position: absolute;
    z-index: 10;
    height:400%;
    width: 100%;
    color: white;
    font-size: 52px;
}
#favPage{
    display:block;
    position:absolute;
    top: 13%;
    color: white;
    font-size: 52px;
    bottom:7.5%;
}
#pathPage{
    display: none;
    position:absolute;
    top: 7.5%;
    color: white;
    font-size: 52px;
    bottom:7.5%;
}
.test{
    border: none;
    border-left: 15px solid #5f27cd;
}
.fa-circle{
    vertical-align: middle;

       
}
.pute{
    bottom: -30px;
    left:85px;
    right: 100px;
    font-size: 50px;
    position: absolute;
}
.pute2{
    font-size: 100px;
    top: 20%;
    width: 200px;
    position: absolute;
}